<h1>Список тваринок</h1>

<div class="cards">
    <% @posts.each do |post| %>
        <div class="card">
            <%= image_tag(post.photo, :class => "thumbnail") %>
            <div class="card-footer">
                <h3 class="card-heading"><%= post.name %></h2>
                <p class="card-body"><%= post.species %></p>
            </div>
        </div>
    <% end %>
</div>



